[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
pyyaml = "*"
pyopenssl = "*"
sqlalchemy = "*"
python-dateutil = "*"
requests = "*"
crayons = "*"
python-dotenv = "*"

[scripts]
start = "python3 cmdline.py"

[dev-packages]
nose = "*"
unittest2 = "*"
yapf = "*"
pylint = "*"
